html {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

main {
    margin-top: 45vh;
    flex-grow: 1;
}

main h1 {
    margin: 0;
    color: #212529;
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    word-wrap: normal;
}

@media (max-width: 600px) {
    main {
        margin-top: 30vh;
    }
}

footer {
    margin-bottom: 5vh;
}

footer small {
    color: #6c757d;
}


/*
 FAB
 */
.fab-wrapper {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80vh;
}

.fab-wrapper .fab {
    background: #FFB900;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 3;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fab-animation-reverse 0.4s ease-out forwards;
}

.fab-wrapper .fab::before, .fab-wrapper .fab::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fff;
}

.fab-wrapper .fab::before {
    width: 4px;
    height: 18px;
}

.fab-wrapper .fab::after {
    width: 18px;
    height: 4px;
}

.fab-wrapper .fac {
    color: #212529;
    white-space: nowrap;
    border-radius: 64px;
    position: absolute;
    background: #EBA300;
    z-index: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    top: -110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
}

.fac h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 0.5;
}

.fac p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.1;
}

.fab-wrapper input {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.fab-wrapper input:checked ~ .fab {
    animation: fab-animation 0.4s ease-out forwards;
}

.fab-wrapper input:checked ~ .fac {
    height: 150px;
    animation: fac-animation 0.4s ease-out forwards 0.1s;
    top: -180px;
    opacity: 1;
}

@keyframes fab-animation {
    0% {
        transform: rotate(0) scale(1);
    }
    20% {
        transform: rotate(60deg) scale(0.93);
    }
    55% {
        transform: rotate(35deg) scale(0.97);
    }
    80% {
        transform: rotate(48deg) scale(0.94);
    }
    100% {
        transform: rotate(45deg) scale(0.95);
    }
}

@keyframes fab-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }
    20% {
        transform: rotate(-15deg);
    }
    55% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes fac-animation {
    0% {
        transform: scale(1, 1);
    }
    33% {
        transform: scale(0.95, 1.05);
    }
    66% {
        transform: scale(1.05, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}
